<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
	<head>
		<title>GamerGaze</title>
		<th:block th:include="~{fragments/template:: head}"></th:block>
	</head>
	<body>
		<!-- edit-profile-modal.html -->
		<div th:fragment="edit-profile-modal">
		  <div class="modal fade" id="edit-profile-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		    <div class="modal-dialog">
		      <div class="modal-content">
		        <div class="modal-header">
		          <h5 class="modal-title" id="exampleModalLabel">Edit Profile</h5>
		        </div>
				<form th:action="@{/profile/edit}" method="post" enctype="multipart/form-data">
			        <div class="modal-body">
					    <div class="mb-3 mt-3">
					        <label for="username">Username</label>
					        <input type="text" class="form-control" id="username" name="username" th:value="${user.username}">
					    </div>
					    <div class="mb-3 mt-3">
					        <label for="firstName">First Name</label>
					        <input type="text" class="form-control" id="firstName" name="firstName" th:value="${user.firstName}">
					    </div>
					    <div class="mb-3 mt-3">
					        <label for="lastName">Last Name</label>
					        <input type="text" class="form-control" id="lastName" name="lastName" th:value="${user.lastName}">
					    </div>
					    <div class="mb-3 mt-3">
					        <label for="email">Email</label>
					        <input type="text" class="form-control" id="email" name="email" th:value="${user.email}">
					    </div>
					    <div class="mb-3 mt-3">
					        <label for="profileImage">Profile Image</label>
					        <input type="file" class="form-control" id="profileImage" name="profileImage">
					    </div>
					    <div class="mb-3 mt-3">
					        <label for="bannerImage">Banner Image</label>
					        <input type="file" class="form-control" id="bannerImage" name="bannerImage">
					    </div>
			        </div>
			        <div class="modal-footer">
			          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			          <button type="submit" class="btn btn-primary">Save Changes</button>
			        </div>
				</form>
		      </div>
		    </div>
		  </div>
		</div>
	</body>
	
</html>