body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #161B33;
  color: #ffffff;
  font-family: Tahoma;
}

.main-content {
    position: relative;
    background-color: #161B33;
    min-height: calc(100vh - 78px);
    top: 78px;
    left: 78px;
    transition: all 0.5s ease;
    display: flex;
    justify-content: space-between;
    width: 100vw !important;
    padding: 13px 5%;
}

h1, p {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white !important;
}

p {
  margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    width: 700px;
    background-color: #0d0c1c;
    align-items: center;
    padding-top: 25px;
    border-radius: 10px;
    padding-bottom: 25px;
}

.width {
  width: 650px;
}

fieldset {
  display: flex;
  flex-direction: column;
  border: none;
}

legend {
  font-size: 18px;
  padding-top: 10px;
  color: white;
}

input, select, textarea {
    display: block;
    margin: 5px 0 20px 0;
    min-height: 2em;
    background-color: #ecdbc6;
    border: 1px solid #0a0a23;
    color: #171b32;
}

input, select {
  height: 2.5em;
}

label {
  display: block;
  color: white;
}

textarea {
  padding-bottom: 2em;
  height: 7em;
  font-size: 16px;
}

button {
  display: block;
  margin-bottom: 30px;
  height: 2em;
  font-size: 1.1rem;
  background-color: #F1DAC4;
  border-color: white;
  min-width: 300px;
  transition: 0.3s;
  border-radius: 30px;
}

button:hover{
  background-color: #0D0C1D;
  color: white;
  border-color: #161B33;
}

hr {
  border-color: white;
}