@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ol, ul{
    padding-left: 0;
}

/* css de sidebar de nav ------------------------------------------------------*/

.user-img{
	width: 50px;
    height: 50px;
    border-radius: 100%;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 78px;
    background-color: #0D0C1D;
    padding: .4rem .8rem;
    transition: all 0.5s ease;
    z-index: 200;
}
.sidebar.active ~ .main-content{
    left: 250px;
    width: calc(100% - 250px);
}
.sidebar.active ~ .profile-container{
    left: 250px;
    width: calc(100% - 250px);
}
.sidebar.active ~ nav {
    left: 250px;
    width: calc(100% - 250px);
}

.sidebar.active{
    width: 250px;
}

.sidebar #btn{
    position: absolute;
    color: #fff;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

.sidebar.active #btn{
    left: 90%;
}
.top{
    height: 78px;
    display: flex;
    align-items: center;
    
}
.sidebar .top .logo{
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 0;
}

.sidebar.active .top .logo{
    opacity: 1;
}

.top .logo i{
    font-size: 2rem;
    margin-right: 5px;
}

.user {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
}

.user p {
    color: #fff;
    opacity: 1;
    margin-left: 1rem;
}

.bold{
    font-weight: 600;
}

.sidebar p{
    opacity: 0;
}

.sidebar p{
    opacity: 1;
}
.sidebar ul li{
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin: 0.8rem auto;
    line-height: 50px;
}

.sidebar ul li a{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
}

.sidebar ul li a:hover{
    background-color: #F1DAC4;
    color: #0D0C1D; 
}

.sidebar ul li a i{
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}

.sidebar .nav-item{
    opacity: 0;
}

.sidebar.active .nav-item{
    opacity: 1;
}

.sidebar ul li .tooltip{
    position: absolute;
    left: 125px;
    top: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 0.5rem 10rem 2px rgb(0 0 0);
    border-radius: 0.6rem;
    padding: 0.4rem 1.2rem;
    line-height: 1.8rem;
    z-index: 20;
    opacity: 0;
    color: black;
    background-color: #F1DAC4;
    transition: all 0.25s ease;
}
.sidebar ul li:hover .tooltip{
    opacity: 1;
}

.sidebar.active ul li .tooltip{
    display: none;
}

/* css de barra horizontal de nav ------------------------------------------------------*/

nav {
    position: fixed;
    top: 0;
    left: 78px;
    transition: all 0.5s ease;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 78px);
    background: #0D0C1D;
    height: 78px;
    z-index: 200;
}

.nav-right{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}
.nav-left{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20%;
}
.create-box {
  background: #474973;
  width: 125px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  color: #fff;
}

.create-box i {
  width: 20px;
}

.create-box a {
  background: transparent;
  padding: 10px;
  font-size: 13px;
  text-decoration: none;
  color: #fff;
}

.create-box:hover {
  background: #F1DAC4;
}

.create-box:hover * {
  color: #0D0C1D;
}

.logovt{
    width: 30px;
    margin: 5px;
    margin-right: 45px;
    filter: invert(100%);
}

.search-box{
    background: #efefef;
    width: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;;
}

.search-box i{
    width: 20px;
    color: #0D0C1D;
}

.search-box input{
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
}

/* css de home.html ------------------------------------------------------*/

.main-content{
    position: relative;
    background-color: #161B33;
    min-height: calc(100vh - 78px);
    top:78px;
    left: 78px;
    transition: all 0.5s ease;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 78px);
    padding: 13px 5%;
}

.postContainer{
    width: 80%;
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leftContainer{
    width: 20%;
    position: sticky;
}

.post{
    width: 80%;
    background: #F1DAC4;
    border-radius: 6px;
    margin: 20px 0;
    padding: 20px;
    color:#0D0C1D;
    box-shadow: 8px 8px 0px 0px #A69CAC;
}
.user-profile{
    display: flex;
    align-items: center;
}

.user-profile img{
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.user-profile span{
    font-size: 13px;
    color: #0D0C1D;
}

.user-profile a{
    font-size: 13px;
    color: #0D0C1D;
    text-decoration: none;
}

.post-text{
    color: #0D0C1D;
    margin: 15px 0;
    font-size: 15px;
}

.post-text a{
    color: #1876f2;
    text-decoration: none;
}
.post-img{
    width: 100%;
    border-radius: 4px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}
.post-img-item{
	max-width: 100%;
    max-height: 300px;
    overflow: hidden;
    border-radius: 6px;
}

.postButtons{
	display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
}

.likeButton{
	display: flex;
    align-items: center;
}
.commentButton{
	display: flex;
    align-items: center;
}

.likeButton:hover{
	color: red;
	cursor: pointer;
}
.commentButton:hover{
	color: aliceblue;
	cursor: pointer;
}

.events{
    background: #F1DAC4;
    border-radius: 6px;
    margin: 20px 0;
    width: 100%;
    padding: 20px;
    color: #0D0C1D;
    box-shadow: 5px 5px 0px 0px #A69CAC;
}

.events-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}

.events-title h4{
    font-weight: 600;
    font-size: 16px;
}
.events-title a{
    text-decoration: none;
    color: #1876f2;
    font-size: 12px;
}

.event{
    display: flex;
    font-size: 14px;
    margin-bottom: 20px;
}
.left-event{
    border-radius: 10px;
    height: 60px;
    width: 60px;
    margin-right: 15px;
    padding-top: 3px;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0 2px 1px rgb(0 0 0);
}

.event p{
    font-size: 12px;
}

.event a{
    font-size: 12px;
    text-decoration: none;
    color: #1876f2;
}
.left-event span{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #0D0C1D;
    color: #fff;
    font-size: 10px;
    padding: 4px 0;
}

/*css profile page ------------------------------------------------------*/

.profile-container{
    position: relative;
    background-color: #161B33;
    min-height: calc(100vh - 78px);
    top:78px;
    left: 78px;
    transition: all 0.5s ease;
    width: calc(100% - 78px);
    padding: 13px 5%;
    padding: 20px 15%;
}

.cover-img {
    width: 100%;
    height: 300px;
    background-size: cover; 
    background-position: center;
    border-radius: 6px;
    margin-bottom: 14px;
}
.profile-details{
    background: #F1DAC4;
    box-shadow: 5px 5px 0px 0px #A69CAC;
    padding: 20px;
    border-radius: 4px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.pd-row{
    display: flex;
    align-items: flex-start;
}
.pd-image{
    width: 100px;
    margin-right: 20px;
    border-radius: 6px;
}

.pd-row div h3{
    font-size: 25px;
    font-weight: 600;
}
.pd-row div p{
    font-size: 13px;
}

.pd-right button{
    background: #0D0C1D;
    border: 0;
    outline: 0;
    padding: 6px 10px;
    display: inline-flex;
    align-items: center;
    color: #F1DAC4;
    border-radius: 3px;
    margin-left: 10px;
    cursor: pointer;
}

.pd-right button i{
    height: 15px;
    margin-right: 10px;
}

.pd-right{
    text-align: right;
}

.pd-right a{
    color: #0D0C1D;
    padding: 12px;
    display: inline-flex;
    margin-top: 30px;
}

.profile-info{
    display: flex;
    align-self: flex-start;
    justify-content: space-between;
    margin-top: 20px;
}
.info-col{
    flex-basis: 33%;
}
.post-col{
    flex-basis: 65%;
}

.postContainer-profile{
    width: 100%!important;
}

.post-profile{
    width: 100%!important;
    margin: 0!important;
}

.profile-intro{
    background: #F1DAC4;
    box-shadow: 5px 5px 0px 0px #A69CAC;
    padding: 20px;
    border-radius: 4px;
}

.profile-intro{
    font-weight: 600;
}

.intro-text{
    margin: 10px 0;
    font-size: 15px;
}
/*---------------------------------CSS Modal-------------------------------------------------*/
.modal-header{
  	background: #0D0C1D;
    color: #FFF;
    text-shadow: 0 0 2px #F1DAC4;
    justify-content: center
}  
  
.modal-body{
  	color: white;
    background-color: #161B33;
}
  
  .modal-footer{
 	background: #A69CAC;
    color: #161B33;
    text-shadow: 4px 1px 5px #F1DAC4;
}
  
.btn-primary{
  	--bs-btn-bg: #161B33;
    --bs-btn-border-color: #ffffff;
    --bs-btn-hover-bg: #F1DAC4;
    --bs-btn-hover-color: #161B33;
    --bs-btn-hover-border-color: #0D0C1D;
}
  
.btn-secondary{
  	--bs-btn-color: #fff;
    --bs-btn-bg: #CD5C5C;
    --bs-btn-border-color: #FFF;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #E73434;
    --bs-btn-hover-border-color: #0D0C1D;
}
  
.modal-title{
  	font-weight: bold;
}

/* Estilo para el formulario de creación de publicación ------------------------------------------------*/
.post form {
    margin: auto;
    padding: 20px;
    border-radius: 8px;
}

.post form textarea {
    width: 100%;
    min-height: 100px;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 6px;
    background-color: #0D0C1D;
    resize: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.post form .user-profile {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.post form .user-profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.post form .user-profile span {
    color: #0D0C1D;
    font-weight: bold;
}

.custom-file-upload {
    display: inline-block;
    cursor: pointer;
    padding: 10px 15px;
    background-color: #0D0C1D;
    color: #F1DAC4;
    border-radius: 6px;
    border: none;
    transition: background-color 0.3s ease;
}

.custom-file-upload:hover {
    background-color: #161B33;
}

.custom-file-upload i {
    margin-right: 5px;
}


.post form button[type="submit"] {
    background-color: #0D0C1D;
    color: #F1DAC4;
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.post form button[type="submit"]:hover {
    background-color: #161B33;
}
/*css chat page ------------------------------------------------------*/
#chatBox {
    width: 50%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#messageArea {
    list-style-type: none;
    padding: 0;
}
.chat-message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}
.you {
    background-color: #0D0C1D;
    color: #fff;
    text-align: right;
}
.recipient {
    background-color: #F1DAC4;
    color: #0D0C1D;
    text-align: left;
}
#message {
    width: calc(100% - 100px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#sendButton {
    padding: 10px 20px;
    background-color: #0D0C1D;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.lastMessage{
	width: 100%;
	display: flex;
	align-items: center;
    justify-content: center;
}
.chatsTitle{
	background: #F1DAC4;
    border-radius: 6px;
    margin: 20px 0;
    padding: 20px;
    color: #0D0C1D;
    box-shadow: 8px 8px 0px 0px #A69CAC;
}

/*Botones seguir y follow/unfollow-------------------------------------*/
.btnFollow:hover{
	background-color: #A69CAC;
}

.btnUnfollow:hover{
	background-color: #FF0000;
}

.btnMessage:hover{
	background-color: #A69CAC;
}

