<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>GamerGaze</title>
<th:block th:include="~{fragments/template:: head}"></th:block>
</head>
<body>
	<div th:replace="~{fragments/template :: sidebar}"></div>
	<nav th:replace="~{fragments/template  :: nav}">Navbar</nav>
	<div class="main-content">
		<div class="chatsTitle">
			<h2>Chats from users followed</h2>
		</div>
        <div class="postContainer">
	        <div th:each="user : ${users}" class="post">
	            <div class="user-profile">
	            	<img th:src="@{/images/{id}(id=${user.profileImage.id})}" alt="User Profile Image">
	            	<a th:href="@{/chat/{recipientId}(recipientId=${user.id})}">
		            	<span th:text="${user.username}"></span>
		            	<div class="lastMessage">
		            		<span th:text="${userLastMessages.get(user.id)}"></span>
		            	</div>
	            	</a>
	            </div>
	        </div>
        </div>
	</div>
</body>
</html>
