<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>GamerGaze</title>
<th:block th:include="~{fragments/template:: head}"></th:block>
</head>
<body>
	<div th:replace="~{fragments/template :: sidebar}"></div>
	<nav th:replace="~{fragments/template  :: nav}">Navbar</nav>
	<div class="main-content">
		<div class="chatsTitle">
			<h2>Users followed</h2>
		</div>
        <div class="postContainer">
        	<div class="nofrends" th:if="${users.size() == 0}">
        		<img alt="nofrends" th:src="@{/assets/nofriends.gif}">
			</div>
	        <div th:each="user : ${users}" class="post">
	            <div class="user-profile">
	            	<img th:src="@{/images/{id}(id=${user.profileImage.id})}" alt="User Profile Image">
	            	<a th:href="@{'/profile/' + ${user.username}}">
		            	<span th:text="${user.username}"></span>
	            	</a>
	            </div>
	        </div>
        </div>
	</div>
</body>
</html>
