<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Contact Us!</title>
    <th:block th:include="~{fragments/template::head}"></th:block>
</head>
<body>
    <div th:replace="~{fragments/template :: sidebar}"></div>
    <nav th:replace="~{fragments/template :: nav}">Navbar</nav>
    <div class="main-content">
        <div class="post">
            <!-- Success message -->
            <div th:if="${success}" class="success-message">
                <p>Message sent! Thank you for your message.</p>
            </div>
            <h1>Contact Us!</h1>
            <form th:action="@{/form}" th:object="${contactMessage}" method="post" class="contact-form">
                <div>
                    <label for="username">Username:</label>
                    <input type="text" id="username" th:value="${#authentication.name}" disabled/>
                </div>
                <div>
                    <label for="email">Email:</label>
                    <input type="email" id="email" th:value="${#authentication.principal.email}" disabled/>
                </div>
                <div>
                    <label for="reason">Reason:</label>
                    <select id="reason" th:field="*{reason}">
                        <option th:value="BUG" th:text="'Bug'">Bug</option>
                        <option th:value="GAME_RECOMMENDATION" th:text="'Recommendation'">Recommendation</option>
                    </select>
                </div>
                <div>
                    <label for="message">Message:</label><br>
                    <textarea name="message" placeholder="Write something..." th:field="*{message}" rows="5" oninput="checkMessage()"></textarea>
                </div>
                <div>
                    <button type="submit" id="submitButton" disabled>Submit</button>
                </div>
            </form>
        </div>
    </div>
    <script>
        function checkMessage() {
            var message = document.getElementById('message').value;
            var submitBtn = document.getElementById('submitButton');
            if (message.trim() === '') {
                submitBtn.disabled = true;
                submitBtn.classList.add('disabled');
            } else {
                submitBtn.disabled = false;
                submitBtn.classList.remove('disabled');
            }
        }
    </script>
</body>
</html>
