<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>GamerGaze</title>
		<th:block th:include="~{fragments/template:: head}"></th:block>
	</head>
	<body>
	    <div th:replace="~{fragments/template :: sidebar}"></div>
	    <nav th:replace="~{fragments/template  :: nav}">Navbar</nav>
		<div class="main-content">
			<div class="postContainer">
				<div class="post">
					<div class="user-profile">
						<img th:src="@{/assets/logo-vt.svg}" src="logo-vt.svg">
						<div>
							<p>John Nicholson</p>
							<span>June 24 2021, 13:40 pm</span>
						</div>
					</div>
					<p class="post-text">Subscribe @Easy Tutorials Youtube Channel to Wathc more videos on
						website develoment and IU designs.<a href="#">#EasyTutorials</a>
					</p>
					<img th:src="@{/assets/logo-vt.svg}" src="logo-vt.svg" class="post-img">
				</div>
			</div>
			<div class="leftContainer">
				<div class="events">
					<div class="events-title">
						<h4>Upcoming Events</h4>
						<a href="#">See All</a>
					</div>
					<div class="event">
						<div class="left-event">
							<h3>18</h3>
							<span>March</span>
						</div>
						<div class="right-event">
							<h4>Social Media</h4>
							<p>Willson Tech Park</p>
							<a href="#">More Info</a>
						</div>
					</div>
					<div class="event">
						<div class="left-event">
							<h3>18</h3>
							<span>March</span>
						</div>
						<div class="right-event">
							<h4>Social Media</h4>
							<p>Willson Tech Park</p>
							<a href="#">More Info</a>
						</div>
					</div>
					<div class="event">
						<div class="left-event">
							<h3>18</h3>
							<span>March</span>
						</div>
						<div class="right-event">
							<h4>Social Media</h4>
							<p>Willson Tech Park</p>
							<a href="#">More Info</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script>
		var btn = document.querySelector("#btn");
		var sidebar = document.querySelector(".sidebar");
		btn.onclick = function(){
			sidebar.classList.toggle('active');
		};
	</script>
</html>
