<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>GamerGaze</title>
<th:block th:include="~{fragments/template:: head}"></th:block>
</head>
<body>
    <div th:replace="~{fragments/template :: sidebar}"></div>
    <nav th:replace="~{fragments/template  :: nav}">Navbar</nav>
    <div class="main-content">
        <div class="postContainer">
            <div class="post">
                <form th:action="@{/createPublication}" method="post" enctype="multipart/form-data">
                    <div class="user-profile">
                        <img th:src="@{/images/{id}(id=${currentuser.profileImage.id})}"
                            alt="User Profile Image"> <span th:text="${currentuser.username}">Username</span>
                    </div>
                    <textarea id="textContent" name="textContent" placeholder="Write something..."></textarea>

				    <select class="gameSelect" name="gameId" id="games">
				    	<option value="" selected>Select a game</option>
				        <option th:each="game : ${games}" th:value="${game.id}" th:text="${game.title}"></option>
				    </select>
                
                    <label for="file-upload" class="custom-file-upload">
                        <i class='bx bxs-file-image'></i>
                    </label>
                    <input id="file-upload" type="file" name="images" multiple style="display: none;">
                    <button id="submitBtn" type="submit">Create Publication</button>
                </form>
            </div>
            <div th:each="publication : ${publications}" class="post">
                <div class="user-profile">
                    <a th:href="@{'/profile/' + ${publication.user.username}}">
                        <img th:src="@{/images/{id}(id=${publication.user.profileImage.id})}" alt="User Profile Image">
                        <span th:text="@{'@' + ${publication.user.username}}"></span><br>
                        <span th:text="${#dates.format(publication.createdAt, 'dd/MM/yyyy HH:mm')}"></span>
                    </a>
                </div>
                <p class="post-text" th:text="${publication.textContent}"></p>
                <div th:if="${publication.images.size() > 0}">
                    <div class="post-img" th:each="image : ${publication.images}">
                        <img class="post-img-item" th:src="@{/images/{id}(id=${image.id})}" th:alt="${publication.images.size()}">
                    </div>
                </div>
                <div class="postButtons">
                    <div class="likeButton" th:id="${publication.id}">
                        <i class='bx bxs-heart bx-sm'></i>
                        <span th:text="${publication.likes}"></span>
                    </div>
                    <div class="commentButton">
                        <i class='bx bxs-message-rounded-add bx-sm'></i>
                        <span th:text="${publication.comments.size()}"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="leftContainer">
            <div class="events">
                <div class="events-title">
                    <h4>Upcoming Events</h4>
                    <a href="#">See All</a>
                </div>
                <div class="event">
                    <div class="left-event">
                        <h3>18</h3>
                        <span>March</span>
                    </div>
                    <div class="right-event">
                        <h4>R6 Private Match</h4>
                        <p>PC</p>
                        <a href="#">More Info</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
