<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<title>GamerGaze - profile</title>
<th:block th:include="~{fragments/template:: head}"></th:block>
</head>
<body>
	<div th:replace="~{fragments/template :: sidebar}"></div>
	<nav th:replace="~{fragments/template  :: nav}">Navbar</nav>
	<div class="profile-container">
		<div class="cover-img" th:style="'background-image: url(\'/images/' + (${user != null ? user.bannerImage.id : currentuser.bannerImage.id}) + '\');'"></div>
		<div class="profile-details">
			<div class="pd-left">
				<div class="pd-row">
					<img class="pd-image"
						th:src="@{/images/{id}(id=${user != null ? user.profileImage.id : currentuser.profileImage.id})}"
						alt="Banner">
					<div>
						<h3><span th:text="${user != null ? user.username : currentuser.username}"></span></h3>
						<h4><span th:text="${user != null ? user.firstName : currentuser.firstName}"></span> <span th:text="${user != null ? user.lastName : currentuser.lastName}"></span></h4>
						<p><span th:text="${user != null ? user.followers.size() : currentuser.followers.size()}"></span> Followers</p>
					</div>
				</div>
			</div>
			<div class="pd-right">
				<a class="btn btnFollow" th:if="${!isFollowing}" th:href="@{'/follow/' + ${user != null ? user.username : currentuser.username}}">
					<i class="bx bxs-user-plus"></i>Friends
				</a>
				<a class="btn btnUnfollow" th:href="@{'/unfollow/' + ${user != null ? user.username : currentuser.username}}" th:if="${isFollowing and user != null}">
					<i class="bx bxs-user-plus"></i>Unfollow
				</a>
				<a class="btn btnMessage" th:if="${user != null}"  th:href="@{/chat/{recipientId}(recipientId=${user.id})}">
				    <i class="bx bxs-comment-dots"></i>Message
				</a>
				<br> <a href="#" th:if="${user == null}" data-bs-toggle="modal" data-bs-target="#edit-profile-modal"><i class='bx bxs-edit-alt'></i></a>
			</div>
		</div>
		<div class="profile-info">
			<div class="info-col">
				<div class="profile-intro">
					<h3>Intro</h3>
					<p th:text="${user != null ? user.bio : currentuser.bio}" class="intro-text">Belive in yourself and you can do
						unbelievable things</p>
				</div>
			</div>
			<div class="post-col">
				<div class="postContainer postContainer-profile">
					<div th:each="publication : ${publications}" class="post-profile">
					    <div class="user-profile">
					        <img th:src="@{/images/{id}(id=${publication.user.profileImage.id})}" alt="User Profile Image">
					        <div>
					            <p th:text="${publication.user.username}"></p>
					            <span th:text="${#dates.format(publication.createdAt, 'dd/MM/yyyy HH:mm')}"></span>
					        </div>
					    </div>
					    <p class="post-text" th:text="${publication.textContent}"></p>
					    <div class="post-img" th:each="image : ${publication.images}">
					        <img class="post-img-item"th:src="@{/images/{id}(id=${image.id})}" alt="Publication Image">
					    </div>
		                <div class="postButtons">
		                    <div class="likeButton" th:data-publication-id="${publication.id}">
		                        <i class='bx bxs-heart bx-sm'></i>
		                        <span class="likeCount" th:text="${publication.likes.size()}"></span>
		                    </div>
		                    <input type="hidden" id="currentUserId" th:value="${currentuser.id}" />
		                    <div class="commentButton">
		                        <i class='bx bxs-message-rounded-add bx-sm'></i>
		                        <span class="likeCount" th:text="${publication.comments.size()}"></span>
		                    </div>
		                    <div class="deleteButton" th:if="${publication.user.username == currentuser.username}">
				                <form method="post" th:action="@{/deletePublication}">
				                    <input type="hidden" name="publicationId" th:value="${publication.id}" />
				                    <button type="submit" class="delete-btn"><i class="bx bx-x"></i></button>
				                </form>
				            </div>
		                </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<th:block th:if="${user == null}" th:include="~{fragments/forms :: edit-profile-modal}"></th:block>
</body>
</html>
