<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>GamerGaze</title>
<th:block th:include="~{fragments/template:: head}"></th:block>
</head>
<body>
	<div th:replace="~{fragments/template :: sidebar}"></div>
	<nav th:replace="~{fragments/template  :: nav}">Navbar</nav>
	<div class="main-content">
		<div class="postContainer">
			<div class="post">
					<div class="pd-left">
						<div class="pd-row">
						<a th:href="@{'/profile/' + ${userfound.username}}">
							<img class="pd-image"
								th:src="@{/images/{id}(id=${userfound.profileImage.id})}"
								alt="Banner">
						</a>
							<div>
								<h3><span th:text="${userfound.username}"></span></h3>
								<h4><span th:text="${userfound.firstName}"></span> <span th:text="${userfound.lastName}"></span></h4>
								<p><span th:text="${userfound.followers.size()}"></span> Followers</p>
							</div>
						</div>
					</div>
					<div class="pd-right">
						<a th:href="@{'/follow/' + ${userfound.username}}" th:if="${!isFollowing and currentuser.id != userfound.id}">
							<i class="bx bxs-user-plus"></i>Follow
						</a>
						<a th:href="@{'/unfollow/' + ${userfound.username}}" th:if="${isFollowing and currentuser.id != userfound.id}">
							<i class="bx bxs-user-plus"></i>Unfollow
						</a>
						<a th:if="${currentuser.id} != ${userfound.id}" th:href="@{/chat/{recipientId}(recipientId=${userfound.id})}">
							<i class="bx bxs-comment-dots"></i>Message
						</a>
						<br> <a href="#" th:if="${userfound == null}" data-bs-toggle="modal" data-bs-target="#edit-profile-modal"><i class='bx bxs-edit-alt'></i></a>
					</div>
			</div>
		</div>
	</div>
</body>
</html>
