<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>GamerGaze</title>
<th:block th:include="~{fragments/template:: head}"></th:block>
</head>
<body>
	<div th:replace="~{fragments/template :: sidebar}"></div>
	<nav th:replace="~{fragments/template  :: nav}">Navbar</nav>
	<div class="main-content">
		<div class="postContainer">
        	<div class="nofrends">
        		<img alt="nofrends" style="height: 400px;" th:src="@{/assets/404.gif}">
			</div>
		</div>
	</div>
</body>
</html>
